body {
  font-family: "Blinker", sans-serif !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: top center !important;
}

.row[data-astro-cid-iv4ludrr] {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

nav[data-astro-cid-tfeuazss].dark-trans {
  background: #0000007f;
}

.navbar-brand {
  color: #fff;
}

.main-content[data-astro-cid-wdm6shyt] {
  min-height: 100vh;
}

/* HERO Section Styles */
.text-shadow[data-astro-cid-carwe2gw] {
  text-shadow: 2px 2px 1px #000;
}

.hero[data-astro-cid-carwe2gw] .usp {
  margin: 0;
}

.hero[data-astro-cid-carwe2gw] .usp span {
  display: flex;
  align-items: center;
  margin: 0 5px;
  font-size: 13px;
}

.hero[data-astro-cid-carwe2gw] .usp img {
  height: 16px;
  margin-top: -2px;
  padding-right: 5px;
}

@media (max-width: 992px) {
  .hero[data-astro-cid-carwe2gw] h1[data-astro-cid-carwe2gw] {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .hero[data-astro-cid-carwe2gw] .lead[data-astro-cid-carwe2gw] {
    font-size: 12px;
  }
}
/* HERO Section Styles End */

/* CARD Section Styles */

.card[data-astro-cid-bwwy3pc6] {
  border: none;
  border-radius: 10px;
  /* background: none; */
  width: 400px;
  position: relative;
}

.card[data-astro-cid-bwwy3pc6] .flag[data-astro-cid-bwwy3pc6] {
  color: #fff;
}

.flag[data-astro-cid-bwwy3pc6] {
  background: #eee;
  position: absolute;
  top: -9px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  min-width: 80px;
  width: fit-content;
  max-width: 200px;
  text-align: center;
  border-radius: 10px;
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
  padding: 4px 10px;
  z-index: 1000;
  box-shadow: 2px 2px 2px #000;
}

.flag[data-astro-cid-bwwy3pc6].top,
.brand[data-astro-cid-bwwy3pc6] .flag[data-astro-cid-bwwy3pc6].no-icon {
  background: #2ca311;
}

.flag[data-astro-cid-bwwy3pc6].new {
  background: #0d6efd;
}

.flag[data-astro-cid-bwwy3pc6].good {
  background: #065b33;
}

.flag[data-astro-cid-bwwy3pc6].best {
  background: #dc3545;
}

/* Card inside styles */
.card .details strong {
  font-size: 1.25rem;
}

.overlay[data-astro-cid-bwwy3pc6] {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  border-radius: 10px 10px 0 0;
  opacity: 0.6;
}

.card-header[data-astro-cid-bwwy3pc6] {
  border: none;
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.card-body[data-astro-cid-bwwy3pc6] {
  background: #fff;
  border: none;
  flex: 0 1 auto !important;
}

.card-header[data-astro-cid-bwwy3pc6] .row[data-astro-cid-bwwy3pc6] {
  height: 100px;
  z-index: 100;
  position: sticky;
}

.logo[data-astro-cid-bwwy3pc6] {
  padding: 30px;
  max-height: 100%;
}

.brand-logo[data-astro-cid-bwwy3pc6] {
  width: 100%;
  height: 60px;
}

.card[data-astro-cid-bwwy3pc6] .details[data-astro-cid-bwwy3pc6] {
  background: #0009;
  color: #fff;
}

span[data-astro-cid-bwwy3pc6].stars {
  color: #f0ad4e;
}

.ratings[data-astro-cid-bwwy3pc6] {
  position: relative;
  vertical-align: middle;
  display: inline-block;
  color: #b1b1b1;
  overflow: hidden;
}

/* .checked {
  color: #fde16d;
} */

.empty-stars[data-astro-cid-bwwy3pc6]::before {
  -webkit-text-stroke: 1px #848484;
}
.empty-stars[data-astro-cid-bwwy3pc6]::before,
.full-stars[data-astro-cid-bwwy3pc6]::before {
  content: "★★★★★";
  font-size: 20pt;
}

.full-stars[data-astro-cid-bwwy3pc6] {
  position: absolute;
  left: 0;
  top: 0;
  white-space: nowrap;
  overflow: hidden;
  color: #fde16d;
}

.full-stars[data-astro-cid-bwwy3pc6]::before {
  -webkit-text-stroke: 1px orange;
}

.empty-stars[data-astro-cid-bwwy3pc6]::before,
.full-stars[data-astro-cid-bwwy3pc6]::before {
  content: "★★★★★";
  font-size: 20pt;
}

.empty-stars::before,
.full-stars::before {
  content: "★★★★★";
  font-size: 20pt;
}

.card .details > div {
  line-height: 1.2;
}

/* left side of the card */
.bonus[data-astro-cid-bwwy3pc6] {
  text-align: center;
  font-size: 12px;
  color: #00000080;
}

.usps[data-astro-cid-bwwy3pc6],
.bonus[data-astro-cid-bwwy3pc6] {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.bonus[data-astro-cid-bwwy3pc6] strong {
  background: #2aab16;
  color: #fff;
  padding: 7px;
  font-size: 18px;
  line-height: 30px;
  border-radius: 7px;
  display: table;
  margin: 5px auto;
}

.card[data-astro-cid-bwwy3pc6] .usp[data-astro-cid-bwwy3pc6] {
  font-size: 12px;
}

.card-body[data-astro-cid-bwwy3pc6] i[data-astro-cid-bwwy3pc6] {
  color: #36c218;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.payment[data-astro-cid-bwwy3pc6] {
  padding: 0 5px;
  height: 35px;
  border-radius: 5px;
}

/* arrow that hides and reveals other payment methods */
.payments[data-astro-cid-bwwy3pc6].closed
  .payment-col[data-astro-cid-bwwy3pc6]:not(
    :first-child,
    :nth-child(2),
    :nth-child(3),
    .expander
  ) {
  display: none;
}

.payment[data-astro-cid-bwwy3pc6].expander {
  background: #eee;
}

.payment[data-astro-cid-bwwy3pc6].expander i[data-astro-cid-bwwy3pc6] {
  color: #000 !important;
}
/* hides the arrow (expander button) */
.payments[data-astro-cid-bwwy3pc6]:not(.closed)
  .payment[data-astro-cid-bwwy3pc6].expander {
  display: none !important;
}

.expander:hover {
  cursor: pointer;
}

/* right side of the card */
.phone[data-astro-cid-bwwy3pc6] {
  padding: 15px 7px;
  background-color: #222;
  border-radius: 20px;
  box-shadow: 0 3px 10px #0000007f;
  height: 320px;
  overflow: hidden;
}

.screen[data-astro-cid-bwwy3pc6] {
  width: 100%;
  height: 290px;
  border-radius: 10px;
  display: block;
}

.card-footer[data-astro-cid-bwwy3pc6] .tc[data-astro-cid-bwwy3pc6] {
  font-size: 10px;
  color: #747474;
  text-align: center;
  max-height: 40px;
  overflow: hidden;
  margin: 10px;
}

/* Card inside styles End */
/* CARD Section Styles End */

/* Marketing description */
.marketing-description[data-astro-cid-iv4ludrr] {
  font-style: italic;
  font-size: 10px;
  text-align: center;
  margin: 10px 0;
}

/* WELCOME Section */
h2 {
  color: var(--mainColor);
  text-align: center;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: 2rem;
}
/* WELCOME Section End */

/* RESPONSIBILITIES Section */
#responsible[data-astro-cid-zmtddlx7] img[data-astro-cid-zmtddlx7] {
  margin: 10px;
  max-height: 48px;
}
/* RESPONSIBILITIES Section End */

/* FOOTER Section */
.bg-secondary-m {
  background: #004056 !important;
}

.newsletter {
  background: rgb(255 255 255 / 20%);
  color: black;
}

.subscribe_now.svelte-1aqpfhf h4.svelte-1aqpfhf.svelte-1aqpfhf {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: inherit;
  font-weight: 800;
  text-align: center;
}

.subscribe_now.svelte-1aqpfhf p.svelte-1aqpfhf.svelte-1aqpfhf {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 2px;
  color: inherit;
  text-align: center;
}

/* FORM Section */
.subscribe_form.svelte-1aqpfhf.svelte-1aqpfhf.svelte-1aqpfhf {
  max-width: 470px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 2px 5px #0a06143d;
}

.subscribe_form.svelte-1aqpfhf .form-control.svelte-1aqpfhf.svelte-1aqpfhf {
  border: none;
}

.subscribe_form.svelte-1aqpfhf input.svelte-1aqpfhf.svelte-1aqpfhf {
  height: 44px;
  border-radius: 0;
}

.subscribe_form.svelte-1aqpfhf button.svelte-1aqpfhf.svelte-1aqpfhf {
  border: none;
  height: 44px;
  background-color: #0ed085;
  color: #fff;
  margin: -1px;
  border-radius: 0;
  width: 135px;
  text-transform: uppercase;
  position: relative;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.subscribe_form.svelte-1aqpfhf button.svelte-1aqpfhf.svelte-1aqpfhf::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  height: 1px;
  background-color: #0ed085;
  width: 100%;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
}

.newsletter[data-astro-cid-bqhrwvc4] button,
button::before {
  background-color: #242628 !important;
}

/* FORM Section End */

/* FOOTER Section End */
